<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.5" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"> 

	<display-name>sisjuf_app</display-name>
    <description>Aplicacao SISJUF</description>
    
	<context-param>
		<param-name>DESENV</param-name>
		<param-value>0</param-value>
	</context-param>
	
	<context-param>
		<param-name>LINKS_LIBERADOS</param-name>
		<param-value>richfaces;ajax4jsf;a4j_3_3_1-SNAPSHOTorg;a4j_3_3_1-SNAPSHOTcss;a4j_3_3_1-SNAPSHOTscripts;a4j_3_3_1-SNAPSHOTimages;a4j/s/3_3_1.GAcss;a4j/g/3_3_1.GAscripts;a4j/g/3_3_1.GAimages;a4j/s/3_3_1.GAcss/tabPanel.xcss;a4j/g/3_3_1.GAimages/spacer.gif.jsf;a4j_3_2_0-SNAPSHOTcss/table.xcss/DATB;/services/CorrigeLancamentosDuplicados;/associados/convenio/BeneficiarioImpressao;/associados/convenio/plano/PlanoConvenioImpressao;/associados/convenio/plano/PlanoConvenioValoresHistoricosImpressao</param-value>
	</context-param>
	
	<context-param>
		<param-name>INDEX_PAGE</param-name>
		<param-value>/index.jsp</param-value>
	</context-param>
	
	<context-param>
		<param-name>LOGIN_PAGE</param-name>
		<param-value>/login.jsf</param-value>
	</context-param>

    <context-param>
      <param-name>SEGURANCA</param-name>
      <param-value>TRUE</param-value>
    </context-param>
    
    <context-param>
		<param-name>ERROR_PAGE</param-name>
		<param-value>/erro.jsp</param-value>
	</context-param>

	<context-param>
		<param-name>LOCALE_LANGUAGE</param-name>
		<param-value>pt</param-value>
	</context-param>

	<context-param>
		<param-name>LOCALE_COUNTY</param-name>
		<param-value>BR</param-value>
	</context-param>

	<context-param>
		<param-name>DATE_FORMAT</param-name>
		<param-value>dd/MM/yyyy</param-value>
	</context-param>

	<context-param>
		<param-name>TIME_FORMAT</param-name>
		<param-value>hh:mm</param-value>
	</context-param>
	
	<!-- 
	<context-param>
		<description>Configuracao do JSF</description>
        <param-name>javax.faces.CONFIG_FILES</param-name>
        <param-value>/WEB-INF/faces-config.xml</param-value>
    </context-param>
	
	<context-param>
		<description>
			Deixa o HTML gerado pelo JSF bem renderizado
		</description>
		<param-name>org.apache.myfaces.PRETTY_HTML</param-name>
		<param-value>true</param-value>
    </context-param>
    
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>
    
    <context-param>
		<description>This parameter tells MyFaces if javascript code should be
		allowed in the rendered HTML output. If javascript is
		allowed, command_link anchors will have javascript code that
		submits the corresponding form. If javascript is not
		allowed, the state saving info and nested parameters will be
		added as url parameters. Default: "true"</description>
		<param-name>org.apache.myfaces.ALLOW_JAVASCRIPT</param-name>
		<param-value>true</param-value>
	</context-param>
	
	<context-param>
		<description>This parameter tells MyFaces if javascript code should be
		allowed in the rendered HTML output. If javascript is
		allowed, command_link anchors will have javascript code that
		submits the corresponding form. If javascript is not
		allowed, the state saving info and nested parameters will be
		added as url parameters. Default: "false"

		Setting this param to true should be combined with
		STATE_SAVING_METHOD "server" for best results.

		This is an EXPERIMENTAL feature. You also have to enable the
		detector filter/filter mapping below to get JavaScript
		detection working.</description>
		<param-name>org.apache.myfaces.DETECT_JAVASCRIPT</param-name>
		<param-value>false</param-value>
	</context-param>

	<context-param>
		<description>If true, a javascript function will be rendered that is able
		to restore the former vertical scroll on every request.
		Convenient feature if you have pages with long lists and you
		do not want the browser page to always jump to the top if
		you trigger a link or button action that stays on the same
		page. Default: "false"</description>
		<param-name>org.apache.myfaces.AUTO_SCROLL</param-name>
		<param-value>true</param-value>
	</context-param>
	-->
	
	<!-- context-param>
		<param-name>org.apache.myfaces.CHECK_EXTENSIONS_FILTER</param-name>
		<param-value>false</param-value>
	</context-param-->
	
	<context-param>
		<param-name>facelets.REFRESH_PERIOD</param-name>
		<param-value>2</param-value>
	</context-param>
	
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>
	
	<context-param>
		<param-name>org.richfaces.SKIN</param-name>
		<param-value>blueSky</param-value>
	</context-param>

	<filter>
		<display-name>Ajax4jsf Filter</display-name>
		<filter-name>ajax4jsf</filter-name>
		<filter-class>org.ajax4jsf.Filter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ajax4jsf</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	
	<filter>	
		<filter-name>extensionsFilter</filter-name>
		<filter-class>
			com.vortice.seguranca.abstracao.cliente.ExtensionFilter
		</filter-class>
		<init-param>
			<param-name>uploadMaxFileSize</param-name>
			<param-value>100m</param-value>
		</init-param>
		<init-param>
			<param-name>uploadThresholdSize</param-name>
			<param-value>100k</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>extensionsFilter</filter-name>
		<url-pattern>*.jsf</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>extensionsFilter</filter-name>
		<servlet-name>/faces/*</servlet-name>
	</filter-mapping>
	<filter-mapping>
        <filter-name>extensionsFilter</filter-name>
        <url-pattern>/faces/myFacesExtensionResource/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
	    <filter-name>extensionsFilter</filter-name>
	    <!-- servlet-name must match the name of your javax.faces.webapp.FacesServlet entry -->
	    <servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>
		
	<filter>
		<filter-name>DwrFacesFilter</filter-name>
		<filter-class>uk.ltd.getahead.dwr.servlet.FacesExtensionFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>DwrFacesFilter</filter-name>
		<url-pattern>/dwr/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>SegurancaFilter</filter-name>
		<filter-class>com.vortice.seguranca.cliente.web.SegurancaFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>SegurancaFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>com.sun.faces.config.ConfigureListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>SourceCodeServlet</servlet-name>
		<servlet-class>org.apache.myfaces.shared_tomahawk.util.servlet.SourceCodeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SourceCodeServlet</servlet-name>
		<url-pattern>*.source</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>context-loader</servlet-name>
		<servlet-class>
			org.springframework.web.context.ContextLoaderServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>dwr-invoker</servlet-name>
		<servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>dwr-invoker</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>BancoImpressaoAC</servlet-name>
		<servlet-class>br.org.asserjuf.sisjuf.financeiro.web.BancoImpressaoAC</servlet-class>
		<load-on-startup>-1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>BancoImpressaoAC</servlet-name>
		<url-pattern>/Financeiro/Bancos/Imprimir</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ContaImpressaoAC</servlet-name>
		<servlet-class>br.org.asserjuf.sisjuf.financeiro.web.ContaImpressaoAC</servlet-class>
		<load-on-startup>-1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContaImpressaoAC</servlet-name>
		<url-pattern>/Financeiro/Contas/Imprimir</url-pattern>
	</servlet-mapping>
  	
	<servlet>
		<servlet-name>TipoLancamentoImpressaoAC</servlet-name>
		<servlet-class>br.org.asserjuf.sisjuf.financeiro.web.TipoLancamentoImpressaoAC</servlet-class>
		<load-on-startup>-1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>TipoLancamentoImpressaoAC</servlet-name>
		<url-pattern>/Financeiro/TiposLancamento/Imprimir</url-pattern>
	</servlet-mapping>
  	
	<servlet>
		<servlet-name>OrigemLancamentoImpressaoAC</servlet-name>
		<servlet-class>br.org.asserjuf.sisjuf.financeiro.web.OrigemLancamentoImpressaoAC</servlet-class>
		<load-on-startup>-1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrigemLancamentoImpressaoAC</servlet-name>
		<url-pattern>/Financeiro/OrigensLancamento/Imprimir</url-pattern>
	</servlet-mapping>
  	
	<servlet>
		<servlet-name>ExtratoImpressaoAC</servlet-name>
		<servlet-class>br.org.asserjuf.sisjuf.financeiro.web.ExtratoImpressaoAC</servlet-class>
		<load-on-startup>-1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExtratoImpressaoAC</servlet-name>
		<url-pattern>/Financeiro/Extrato/Imprimir</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LancamentoImpressaoAC</servlet-name>
		<servlet-class>br.org.asserjuf.sisjuf.financeiro.web.LancamentoImpressaoAC</servlet-class>
		<load-on-startup>-1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>LancamentoImpressaoAC</servlet-name>
		<url-pattern>/Financeiro/Lancamento/Imprimir</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DiretorFinanceiroListagemAC</servlet-name>
		<servlet-class>br.org.asserjuf.sisjuf.financeiro.web.DiretorFinanceiroListagemAC</servlet-class>
		<load-on-startup>-1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>DiretorFinanceiroListagemAC</servlet-name>
		<url-pattern>/Financeiro/DiretorFinanceiro/Listar</url-pattern>
	</servlet-mapping>
  	
	<servlet>
		<servlet-name>DiretorFinanceiroDetalhamentoAC</servlet-name>
		<servlet-class>br.org.asserjuf.sisjuf.financeiro.web.DiretorFinanceiroDetalhamentoAC</servlet-class>
		<load-on-startup>-1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>DiretorFinanceiroDetalhamentoAC</servlet-name>
		<url-pattern>/Financeiro/DiretorFinanceiro/Detalhar</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DiretorFinanceiroInclusaoAC</servlet-name>
		<servlet-class>br.org.asserjuf.sisjuf.financeiro.web.DiretorFinanceiroInclusaoAC</servlet-class>
		<load-on-startup>-1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>DiretorFinanceiroInclusaoAC</servlet-name>
		<url-pattern>/Financeiro/DiretorFinanceiro/Incluir</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DiretorFinanceiroAlteracaoAC</servlet-name>
		<servlet-class>br.org.asserjuf.sisjuf.financeiro.web.DiretorFinanceiroAlteracaoAC</servlet-class>
		<load-on-startup>-1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>DiretorFinanceiroAlteracaoAC</servlet-name>
		<url-pattern>/Financeiro/DiretorFinanceiro/Alterar</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DiretorFinanceiroRemocaoAC</servlet-name>
		<servlet-class>br.org.asserjuf.sisjuf.financeiro.web.DiretorFinanceiroRemocaoAC</servlet-class>
		<load-on-startup>-1</load-on-startup>
	</servlet> 
	<servlet-mapping>
		<servlet-name>DiretorFinanceiroRemocaoAC</servlet-name>
		<url-pattern>/Financeiro/DiretorFinanceiro/Remover</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CarteirinhaImpressaoAC</servlet-name>
		<servlet-class>br.org.asserjuf.sisjuf.associados.cliente.web.CarteirinhaImpressaoAC</servlet-class>
		<load-on-startup>-1</load-on-startup>
	</servlet> 
  	<servlet-mapping>
		<servlet-name>CarteirinhaImpressaoAC</servlet-name>
		<url-pattern>/Associados/ImprimirCarteirinha</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>BeneficiarioImpressaoAC</servlet-name>
		<servlet-class>br.org.asserjuf.sisjuf.associados.convenio.cliente.web.BeneficiarioImpressaoAC</servlet-class>
		<load-on-startup>-1</load-on-startup>
	</servlet> 
  	<servlet-mapping>
		<servlet-name>BeneficiarioImpressaoAC</servlet-name>
		<url-pattern>/associados/convenio/BeneficiarioImpressao</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PlanoConvenioImpressaoAC</servlet-name>
		<servlet-class>br.org.asserjuf.sisjuf.associados.convenio.cliente.web.PlanoConvenioImpressaoAC</servlet-class>
		<load-on-startup>-1</load-on-startup>
	</servlet> 
  	<servlet-mapping>
		<servlet-name>PlanoConvenioImpressaoAC</servlet-name>
		<url-pattern>/associados/convenio/plano/PlanoConvenioImpressao</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PlanoConvenioValoresHistoricosImpressaoAC</servlet-name>
		<servlet-class>br.org.asserjuf.sisjuf.associados.convenio.cliente.web.PlanoConvenioValoresHistoricosImpressaoAC</servlet-class>
		<load-on-startup>-1</load-on-startup>
	</servlet> 
  	<servlet-mapping>
		<servlet-name>PlanoConvenioValoresHistoricosImpressaoAC</servlet-name>
		<url-pattern>/associados/convenio/plano/PlanoConvenioValoresHistoricosImpressao</url-pattern>
	</servlet-mapping>
	
	
	
	<!-- SERVICES -->
	<servlet>
		<servlet-name>CorrigeLancamentosDuplicadosAC</servlet-name>
		<servlet-class>br.org.asserjuf.sisjuf.services.web.CorrigeLancamentosDuplicadosAC</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet> 
  	<servlet-mapping>
		<servlet-name>CorrigeLancamentosDuplicadosAC</servlet-name>
		<url-pattern>/services/CorrigeLancamentosDuplicados</url-pattern>
	</servlet-mapping>
	  	
    <session-config>
      <session-timeout>30</session-timeout> 
    </session-config>
	
	<welcome-file-list>
		<welcome-file>index.jsf</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>