body{margin:0px; background-color:#003366;}

h1{font-size:17px; margin:0px 0px 0px 0px;}
h2{font-size:11px; margin:0px 0px 5px 0px; 
background:url(../images/bg_h2.gif) no-repeat left;
padding-left:10px;
}

input{font-family:Verdana, Arial, Helvetica, sans-serif; color:#666666;}
button{font-family:Verdana, Arial, Helvetica, sans-serif;}
select{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#666666;}
textarea{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#666666;}
a{text-decoration:none;}
/* --------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------- */
#geral{
width:1000px;
/*position:relative;
left:50%;
margin-left:-385px;*/
background-color:#EEEEEE;
min-height:580px;
_height:580px;
border:1px solid #CCCCCC;
font-family:Verdana, Arial, Helvetica, sans-serif;
}

#geral_menor{
width:770px;
/*position:relative;
left:50%;
margin-left:-385px;*/
background-color:#EEEEEE;
min-height:580px;
_height:580px;
border:1px solid #CCCCCC;
font-family:Verdana, Arial, Helvetica, sans-serif;
}
/* --------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------- login e senha ------- */
#login{
width:770px;
background:url(../images/login02.gif) no-repeat;
height:85px;
_margin-top:-4px;
}

#tabela_login input{
font-size:11px;
height:11px;
}
#tabela_login img{margin-bottom:-3px; border:0px;}
#tabela_login{
font-size:9px;
color:#EEEEEE;
_margin-bottom:-30px;
}
/* --------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------- */
#topo{
width:1000px;
height:130px;
background:url(../images/topo.gif) no-repeat;
}
#sair img{margin-bottom:-3px; border:0px;}
#sair{
float:right;
width:750px;
margin-right:5px;
text-align:right;
color:#EEEEEE;
font-size:10px;
font-weight:bold;
margin-top:54px;
}
#voltar img{margin-bottom:-3px; border:0px;}
#voltar{
float:right;
width:750px;
margin-right:5px;
text-align:right;
font-size:10px;
font-weight:bold;
margin-top:20px;
color:#003366;
}
/* --------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- MENU ------ */
#menu{
width:160px;
min-height:450px;
_height:450px;
background-color:#CCCCCC;
float:left;
font-size:11px;
padding-top:5px;
}
#menu span{font-size:17px; margin-left:2px; font-weight:bold; color:#003366;}

.divisoria{
display:block;
width:156px;
min-height:15px;
_height:15px; 
padding:2px;
color:#003366; 
text-decoration:none;
}
.divisoria:hover{
background-color:#DDDDDD;
color:#003366;
text-decoration:none;
border-bottom:1px solid #EEEEEE;
border-left:1px solid #EEEEEE;
width:155px; 
height:14px;
}
.submenu{
display:block;
width:156px; 
height:13px; 
padding:2px;
color:#003366; 
text-decoration:none;
border-bottom:1px solid #DDDDDD;
}
.submenu:hover{
background-color:#DDDDDD;
color:#003366;
text-decoration:none;
color:#006699;
}
#submenu1 a, #submenu2 a, #submenu3 a, #submenu4 a{font-size:10px;}
#submenu1, #submenu2, #submenu3, #submenu4{display:none;}

#menu_senha2, #menu_adm2, #menu_financ2, #menu_associado2, #menu_convenio2{
display:none;
background-color:#DDDDDD;
font-weight:bold;
}

#pesquisa_avancada2{display:none;}
.link_h2{color:#003366; display:block; width:200px;}
.link_h2:hover{color:#006699;}
/* --------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- MIOLO ------ */
#miolo{
width:587px;
min-height:435px;
_height:435px;
float:left;
padding-left:10px;
padding-right:10px;
/*margin:5px 5px 10px 10px;*/
font-size:11px;
color:#003366;
}
/* --------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------- TABELA LISTAGEM ----------- */
.tab_lista{
width:587px;
border:1px solid #CCCCCC;
font-size:10px;
margin-top:10px;
float:left;
}
.tab_lista th{background-color:#CCCCCC;text-align:left;}
.tab_lista td{background-color:#FFFFFF;}
.tab_lista td a{color:#006699;text-decoration:none;}
.tab_lista td a:hover{font-weight:bold; background-color:#EEEEEE;}

.tab_lista tfoot td{background-color:#CCCCCC;text-align:left;}
/*.tab_lista tfoot td{background-color:#FFFFFF;font-weight:bold;}*/

.valor_negativo{color:#CC0000;}
/* --------------------------------------------------------------------------------------- */
/* --------------------------------------------------- TABELA LISTAGEM EXTRATO ----------- */
.tab_lista_extrato{
width:590px;
border:1px solid #CCCCCC;
font-size:10px;
margin-top:10px;
float:left;
}
.tab_lista_extrato th{background-color:#CCCCCC;}
.tab_lista_extrato td{background-color:#FFFFFF;}
.tab_lista_extrato td a{color:#006699;text-decoration:none;}
.tab_lista_extrato td a:hover{font-weight:bold; background-color:#EEEEEE;}

.tab_lista_extrato tfoot th{background-color:#CCCCCC;}
.tab_lista_extrato tfoot td{background-color:#FFFFFF;font-weight:bold;}

.valor_negativo{color:#CC0000;}
/* --------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------- TABELA LISTAGEM ----------- */
.tab_lista_maior{
width:800px;
border:1px solid #CCCCCC;
font-size:10px;
margin-top:10px;
float:left;
}
.tab_lista_maior th{background-color:#CCCCCC;text-align:left;}
.tab_lista_maior td{background-color:#FFFFFF;}
.tab_lista_maior td a{color:#006699;text-decoration:none;}
.tab_lista_maior td a:hover{font-weight:bold; background-color:#EEEEEE;}

.tab_lista_maior tfoot td{background-color:#CCCCCC;text-align:left;}
/*.tab_lista tfoot td{background-color:#FFFFFF;font-weight:bold;}*/

.valor_negativo{color:#CC0000;}
/* --------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- BOTOES -------- */
.botao_novo span{visibility:hidden;}
.botao_novo{
display:block;
width:50px;
height:15px;
background:url(../images/botao_novo.gif) no-repeat;
float:left;
font-size:1px;
}
.botao_x span{visibility:hidden;}
.botao_x{
display:block;
width:15px;
height:15px;
background:url(../images/botao_x.gif) no-repeat;
float:left;
font-size:1px;
}
.botao_salvar span{visibility:hidden;}
.botao_salvar{
display:block;
width:60px;
height:17px;
background:url(../images/botao_salvar.gif) no-repeat;
float:right;
font-size:1px;
margin-top:10px;
}
.botao_filtrar span{visibility:hidden;}
.botao_filtrar{
display:block;
width:60px;
height:15px;
background:url(../images/botao_filtrar.gif) no-repeat;
float:right;
font-size:1px;
margin-top:5px;
}
.botao_senha span{visibility:hidden;}
.botao_senha{
display:block;
width:90px;
height:15px;
background:url(../images/botao_senha.gif) no-repeat;
float:right;
font-size:1px;
}
.botao_enviar span{visibility:hidden;}
.botao_enviar{
display:block;
width:90px;
height:15px;
background:url(../images/botao_enviar.gif) no-repeat;
float:right;
font-size:1px;
margin-top:5px;
}
.botao_importar span{visibility:hidden;}
.botao_importar{
display:block;
width:90px;
height:15px;
background:url(../images/botao_importar.gif) no-repeat;
float:right;
font-size:1px;
margin-top:5px;
}
/* --------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------ BOTOES LISTA ------- */

.botao_editar span{visibility:hidden;}
.botao_editar{
display:block;
width:15px;
height:15px;
background:url(../images/botao_editar.gif) no-repeat;
font-size:1px;
text-decoration:none;
}

.botao_excluir span{visibility:hidden;}
.botao_excluir{
display:block;
width:15px;
height:15px;
background:url(../images/botao_excluir.gif) no-repeat;
font-size:1px;
text-decoration:none;
}
.botao_imprimir span{visibility:hidden;}
.botao_imprimir{
display:block;
width:15px;
height:12px;
background:url(../images/ico_imprimir.gif) no-repeat;
font-size:1px;
text-decoration:none;
}
.botao_baixar span{visibility:hidden;}
.botao_baixar{
display:block;
width:15px;
height:15px;
background:url(../images/botao_baixar.gif) no-repeat;
font-size:1px;
text-decoration:none;
}
.botao_audit span{visibility:hidden;}
.botao_audit{
display:block;
width:15px;
height:15px;
background:url(../images/botao_excluir.gif) no-repeat;
font-size:1px;
text-decoration:none;
}
/*.botao_acima span{visibility:hidden;}*/
.botao_acima:hover{color:#003366;}
.botao_acima{
display:block;
width:15px;
height:15px;
float:left;
background:url(../images/botao_acima.gif) no-repeat;
background-position:left;
padding-left:20px;
padding-top:3px;
font-size:10px;
color:#006699;
text-decoration:none;
}
.botao_adicionar span{visibility:hidden;}
.botao_adicionar{
display:block;
width:15px;
height:12px;
background:url(../images/ico_adicionar.gif) no-repeat;
font-size:1px;
text-decoration:none;
}

/* --------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------ TABELA CADASTRO ---------- */
.tab_cadastro input{color:#666666; font-size:10px;}
.tab_cadastro{
width:590px;
border:1px solid #CCCCCC;
font-size:10px;
margin-top:10px;
float:left;
}
.tab_cadastro thead th{background-color:#003366;;text-align:right; font-size:11px; color:#EEEEEE;}
.tab_cadastro tbody th{background-color:#DDDDDD;text-align:right;}
.tab_cadastro td{background-color:#FFFFFF;}

/* --------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------- */
.textoMsgInfo{
font-size:9px;
color:#003366;
font-family:Verdana, Arial, Helvetica, sans-serif;
background:url(../images/ico_ok.gif) no-repeat;
background-position:left;
padding-left:25px;
}

.textoMsgErro{
font-size:9px;
color:#CC0000;
font-family:Verdana, Arial, Helvetica, sans-serif;
background:url(../images/ico_erro.gif) no-repeat;
background-position:left;
padding-left:25px;
}


/* *************************** Mudanï¿½as de Fernando *************************** */

.baseTabela{
	background-color:#CCCCCC;
	text-align:left;
}
/*
.textoMsgErro{
	color: red;
	font-size: 10px;
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	line-height: 20px;
	text-align: left;
	padding: 10px; 
}
*/

/*
.textoMsgInfo{
	color: blue;
	font-size: 10px;
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	line-height: 20px;
	text-align: left;
	padding: 10px; 
}
*/


.carteirinha{
font-size:6px;
color:#000000;
font-family:Arial, Verdana, Helvetica, sans-serif;
}

.carteirinha2{
font-size:7px;
color:#000000;
font-family:Arial, Verdana, Helvetica, sans-serif;
}

.bgcarteirinha{
background-color:#FFFFFF;
}

.botao_cancelar_associado span{visibility:hidden;}
.botao_cancelar_associado{
display:block;
width:14px;
height:14px;
background:url(../images/cancelar.gif) no-repeat;
float:right;
font-size:1px;
margin-top:10px;
}

.botao_reativar_associado span{visibility:hidden;}
.botao_reativar_associado{
display:block;
width:14px;
height:14px;
background:url(../images/reativar.gif) no-repeat;
float:right;
font-size:1px;
margin-top:10px;
}