<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<!-- bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:sisjuf.cfg</value>
		</property>
	</bean-->
	
	<bean id="segurancaDelegate" class="com.vortice.seguranca.abstracao.cliente.SegurancaDelegateRN">
		<property name="usuarioRN"><ref bean="usuarioRN"/></property>
		<property name="perfilRN"><ref bean="perfilRN"/></property>
		<property name="funcaoRN"><ref bean="funcaoRN"/></property>
		<property name="funcionalidadeRN"><ref bean="funcionalidadeRN"/></property>
		<property name="linkRN"><ref bean="linkRN"/></property>
	</bean>
	
	<bean id="usuarioRN" class="com.vortice.seguranca.rn.UsuarioRN">
		<property name="dao"><ref bean="usuarioDAO"/></property>
		<property name="funcionalidadeDAO"><ref bean="funcionalidadeDAO"/></property>
		<property name="perfilDAO"><ref bean="perfilDAO" /></property>
	</bean>
	
	<bean id="perfilRN" class="com.vortice.seguranca.rn.PerfilRN">
		<property name="dao"><ref bean="perfilDAO"/></property>
	</bean>
	
	<bean id="funcaoRN" class="com.vortice.seguranca.rn.FuncaoRN">
		<property name="dao"><ref bean="funcaoDAO"/></property>
	</bean>
	
	<bean id="funcionalidadeRN" class="com.vortice.seguranca.rn.FuncionalidadeRN">
		<property name="dao"><ref bean="funcionalidadeDAO"/></property>
	</bean>
	
	<bean id="linkRN" class="com.vortice.seguranca.rn.LinkRN">
		<property name="dao"><ref bean="linkDAO"/></property>
	</bean>
	
	<bean id="usuarioDAO" class="com.vortice.seguranca.dao.postgresql.UsuarioDAOPostgreSql">
		<property name="tipoConexao"><ref bean="conexao"/></property>
	</bean>
	
	<bean id="perfilDAO" class="com.vortice.seguranca.dao.postgresql.PerfilDAOPostgreSql">
		<property name="tipoConexao"><ref bean="conexao"/></property>
	</bean>
	
	<bean id="funcaoDAO" class="com.vortice.seguranca.dao.postgresql.FuncaoDAOPostgreSql">
		<property name="tipoConexao"><ref bean="conexao"/></property>
	</bean>
	
	<bean id="funcionalidadeDAO" class="com.vortice.seguranca.dao.postgresql.FuncionalidadeDAOPostgreSql">
		<property name="tipoConexao"><ref bean="conexao"/></property>
	</bean>
	
	<bean id="linkDAO" class="com.vortice.seguranca.dao.postgresql.LinkDAOPostgreSql">
		<property name="tipoConexao"><ref bean="conexao"/></property>
	</bean>
	
	<bean id="conexao" class="com.vortice.persistencia.conexao.ConexaoSpring">
		<property name="dataSource"><ref bean="dataSource"/></property>
	</bean>
	
	<!-- CONEXAO COM O BANCO DE DADOS -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url" value="jdbc:postgresql://localhost:5433/sisjuf" />
		<property name="username" value="postgres" />
		<property name="password" value="postgres" />
		<!-- property name="url" value="jdbc:postgresql://localhost:5432/juriweb_demo" />
		<property name="username" value="demo" />
		<property name="password" value="juriwebdb" /-->
	</bean>
</beans>