<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d{ISO8601} [%c{1}] %m%n"/>
        </layout>
    </appender>

    <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="./../logs/seguraca_sisjuf.log"/>
        <param name="MaxFileSize" value="100MB"/>
        <param name="MaxBackupIndex" value="2"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d{ISO8601} [%c2] %m%n"/>
        </layout>
    </appender>

    <category name="log4j.category.securityController">
		<priority value="DEBUG"/>
    </category>
    
    <category name="br.com.vortice">
        <priority value="DEBUG"/>
    </category>
    
    <category name="com.vortice">
        <priority value="DEBUG"/>
    </category>

    <root>
        <priority value="INFO"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>
    
</log4j:configuration>
