<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d{ISO8601} [%c{1}] %m%n"/>
        </layout>
    </appender>

    <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="./../logs/sisjuf.log"/>
        <param name="MaxFileSize" value="100MB"/>
        <param name="MaxBackupIndex" value="2"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d{ISO8601} [%c2] %m%n"/>
        </layout>
    </appender>

   <!-- ================ -->
   <!-- Limit categories -->
   <!-- ================ -->
	
	<category name="com.vortice">
		<priority value="DEBUG" />
		<priority value="ERROR" />
		<priority value="INFO" />
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="FILE"/>
	</category>

	<category name="br.org.asserjuf.sisjuf">
		<priority value="DEBUG" />
		<priority value="ERROR" />
		<priority value="INFO" />
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="FILE"/>
	</category>

   <!-- Limit the org.apache category to INFO as its DEBUG is verbose -->
   <category name="org.apache">
      <priority value="INFO"/>
   </category>

	<root>
        <priority value="INFO"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</log4j:configuration>
